$font-family:Helvetica;
$form-max-width:420px;
$form-padding:3px;
$login-marging:10px;

@media all and (min-width: 200px) {
  .Login {
    box-sizing: border-box;
    position: relative;
    left:$login-marging;
  }
  .Login form {
    font-family: $font-family;
    max-width: $form-max-width;
    .form-group{
      padding: $form-padding;
    };
    .form-control{
      width: 80%;
    }
    .sign-in {
      position: relative;
      padding: 3px;
      top:-50px;
      left:400px;
    };
  }

}
