$font-family:Helvetica;
$form-max-width:420px;
$padding:2px;
$marging:10px;
$top:-45px;

@media all and (min-width: 200px) {
  .Login {
    box-sizing: border-box;
    position: relative;
    left:$marging;
  }
  .Login form {
    font-family: $font-family;
    max-width: $form-max-width;
    .form-group{
      padding: $padding;
    };
    .form-control{
      width: 80%;
    };
    .sign-in {
      position: relative;
      padding: $padding;
      top:$top;
      left:380px;
    };
    .error-login{
      position: relative;
      top:$top;
      padding: $padding;
      left:$padding;
      color:red;
      font-weight: bold;
    }
  }

}
