.App-header {
  height: 50px;
  padding: 20px;
  color: black;
}

.welcome-info {
  position: relative;
  display: flex;
  flex-flow: row;
}

.first-net-logo {
  margin: 0 20px 0 10px;
  width: 200px;
  height: 200px;
  display: block;
}

.welcome-text {
  width: 400px;
  display: block;
}

.user-info {
  position: absolute;
  margin: -100px 0 0 250px;
}

.user-info label {
  display: block;
  margin: 5px;
}

.user-fields {
  width: 250px;
}

.submit-button {
  width: 80px;
  margin-left: 20px;
}
