.password-field {
  position: relative;
}

.password-form {
  background-color: white;
  padding: 50px;
  border: 1px solid $light-gray;
}

.password-input {
  background-color: $light-gray;
  border: none;
  border-radius: 0px;
  &:active{
    border-bottom: 2px solid $blue;
  }
}

.password-button {
  background-color: $light-gray
}

.eye-icon {
  color: $blue;
  border: none;
}
