.password-field {
  position: relative;
}

.password-form {
  background-color: white;
  padding: 30px 80px;
  border: 1px solid $body-border;
}

.password-label {
  font-size: 12px;
  color: $footer-color;
  font-weight: normal;
}

.password-input {
  background-color: $light-gray;
  border: none;
  border-radius: 0px;
  &:focus{
    border-bottom: 2px solid $blue;
  }
}

.password-button {
  background-color: $light-gray
}

.eye-icon {
  color: $blue;
  border: none;
}
