.footer {
  background-color: $footer-color;
  color: $footer-text;
  padding: 10px;
}

.footer-contact {
  margin-top: 10px;
  margin-left: 30px;
}

.phone-icon {
  padding-right: 10px;
  font-size: 18px;
  color: $blue;
}
